*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
	overflow-x: hidden;
}

.clear{clear: both;}
.container{max-width: 960px; padding: 0 2%; margin:0 auto;}

section.header-master{
	width: 100%;
	padding:30px 0;
	min-height: 700px;
    background-color: #fffafa;
	background-size: cover;
}

section.header-master header{
	border-bottom: 3px solid #AFAEB1;
	padding-bottom: 20px;
}

div.logo{
	float: left;
	width: 180px;
	height: 120px;
	background-image: url('../images/logo.png');
	background-size: 100% 100%;
}

header nav{
	float: left;
	padding-left: 60px;
}

header nav ul{
	list-style-type: none;
}

header li{
	padding:0 15px;
	display: inline-block;
	font-size: 16px;
	color: black;
	margin-top: 8px;
    font-weight: bold;
}

header li > a{
	color: inherit;
	text-decoration: none;
}

li.selected{
	color:#00BEE0;
	position: relative;
}

li.selected > span{
	position: absolute;
	bottom:0;
	width: 17px;
	height: 3px;
	background: #00BEE0;
}

.content-header{
    padding: 60px 0;
    text-align: center; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

.bloco-1, .bloco-2 {
    display: inline-block;
    vertical-align: top;
	margin-bottom: 40px;
}

.bloco-1 {
    width: 70%;
    text-align: left;
}

.bloco-1 h2 {
    color: #00BEE0;
    font-weight: normal;
    font-size: 32px;
	margin-bottom: 10px;
}

.bloco-1 p{
    font-weight: normal;
    font-size: 18px;
	margin-bottom: 10px;
	color: black;
}

.bloco-1 span{
    font-size: 13px;
	margin-top: 20px;
	display: block;
	color: black;
}

.clear {
    clear: both;
}

.bloco-1 form input[type=email]{
	display: inline-block;
	width: 400px;
	height: 40px;
	border: 2px solid #AFAEB1;
	border-radius: 5px;

}

.bloco-1 form input[type=submit]{
	display: inline-block;
	width: 180px;
	height: 40px;
	background-color: #00BEE0;
	color: white;
	border: 1px solid #AFAEB1;
	border-radius: 5px;
}

.bloco-2 img {
	border: 5px solid rgb(0, 0, 0, 0);
}

section.difereciais{
	padding: 40px 0;
}

section.diferenciais, .container{
	display: flex;
	flex-wrap: wrap;
}

section.difereciais > .container{
	max-width: 1280px;
}

.diferencial-single{
	width: 30.3%;
}

.diferencial-single 
{
	margin: 10px;
	max-width: 100%;
}

.diferencial-single h2{
	margin: 10px;
	font-size: 25px;
	color: black;
}

.diferencial-single h2 > b{
	color: #00BEE0;
}

.diferencial-single p{
	margin: 10px;
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.sobre > .container{
	max-width: 1280px;
}

.sobre-1{
	float: left;
	width: 50%;
}

.sobre-1 img{
	max-width: 100%;
}

.sobre-2{
	float: right;
	width: 50%;
	margin-bottom: 20px;
}

.sobre-2 h2{
	color: black;
	font-size: 21px;
	margin: 10px;
	max-width: 80%;
	margin-top: -10px;
}

.sobre-2 h2 > b{
	color: #00BEE0;
	font-size: 48px;
	margin: 5px;
}

.depoimentos > .container{
	max-width: 1280px;
}

.foto-depoimento{
	float: left;
	width: 50%;
}

.foto-depoimento img{
	max-width: 100%;
}

section > .fundoonda{
	margin-top: -80px;
}

section.depoimentos, .container{
	display: flex;
	flex-wrap: wrap;
	max-width: 1280px;
}

.depoimento {
    display: flex;
    flex-wrap: wrap;
}

.depoimento img {
    width: 100%;
    height: auto;
	margin-top: 10px;
}

.depoimento-single {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 10px;
}

.depoimento-single img{
	max-width: 100%;
}

.line-titulo{
	max-width: 800px;
	margin:0 auto;
	position: relative;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 20px;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top:20px;
	background: #00BEE0;
}

.line-titulo h2{
	margin-top: 7px;
	position: relative;
	background: white;
	color: #00BEE0;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding:0 20px;
	text-transform: uppercase;
}

.onda{
	position: relative;
}

.onda, .chamada h2 {
	color: white;
	display: inline;
    font-size: 44px;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chamada{
    top: 50%;
    transform: translateY(-220%);
}

section.etapas{
	margin-top: -70px;
	padding: 40px 0;
}

.etapas{
	background-color: #00BEE0;
	color: white;
}

section.etapas h2{
	margin: 0 auto;
}


.etapas > .container{
	max-width: 1300px;
}

.etapas__group2{
    width: 100%;
	margin-top: 40px;
    display: flex;
    align-items: left;
    justify-content: left;
	margin-left: 100px;
	margin-bottom: -25px;
	overflow: visible

}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 20px; 
    position: relative;
}

.circle span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.etapas__descricao{
	position: relative;
}

.etapas__descricao h2{
	font-size: 20px;

}

.etapas__descricao h3{
	font-size: 17px;

}

.etapas__descricao p{
	font-size: 14px;

}

.etapas > h2{
	text-align: center;
    margin: 0 auto;
}

.container > h4{
	text-align: center;
    margin: 0 auto;
	font-size: 17px;
}

footer{
	margin-top: 20px;
	padding-top: 40px;
    width: 100%;
    background-color: #00BEE0;
}

footer ul li{
    cursor: pointer;
}


.container-footer{
    text-align: center;
    font-size: 15px;
	margin-left: 80px;
}

.bloco-1, .bloco-2, .bloco-3, .bloco-4 p{
	color: white;
}

.w20{
    width: 20%;
    display: inline-block;
    margin-top: 15px;
}

.container-footer h2{
    color: #1c2d59;
    font-size: 20px;
    margin-bottom: 15px;
}

.bloco-1{

}

.bloco-2{
}

.bloco-2 h2{
	margin-bottom: 10px;
}

.bloco-2, .fa-solid, .fa-regular{
	margin-top: 5px;
}

.bloco-2 h3{
	margin-top: 20px;
	color: #1c2d59;
}

.bloco-3{
	margin-top: 1px;
}

.bloco-3 li{
	margin-bottom: 7px;
	margin-top: 12px;
}

.bloco-4{

}
.bloco-4 li{
	display: inline-block;
	color: #1c2d59;
	font-size: 30px;
}

.bloco-4 img{
	width: 200px;
}

.footer-2{
	display: inline;
}

.footer-2 p{
	display: flex;
	align-items: center;
}





@media screen and (max-width: 1600px){

	.sobre-2 h2{
		max-width: 100%;
		font-size: 20px;
	}

	.sobre-2 h2 > b{
		font-size: 40px;
	}

	.onda, .chamada h2, i {
		font-size: 37px;
	}

}

@media screen and (max-width: 1305px){

	.sobre-2{
		max-width: 100%;
	}

	.sobre-2 h2{
		max-width: 100%;
		font-size: 18px;
		margin-top: 1px;
	}

	.sobre-2 h2 > b{
		font-size: 20px;
	}

	.onda, .chamada h2, i {
		font-size: 30px;
	}


}

@media screen and (max-width: 1150px){

	.sobre-2{
		max-width: 100%;
	}

	.sobre-2 h2{
		font-size: 16px;
	}

	.sobre-2 h2 > b{
		font-size: 18px;
	}

	.circle{
		width: 60px;
		height: 60px;
	}

	.etapas h2{
		font-size: 16px;
	}

	.etapas h4{
		font-size: 14px;
	}

	.etapas__descricao h2{
		font-size: 18px;
	
	}
	
	.etapas__descricao h3{
		font-size: 15px;
	
	}
	
	.etapas__descricao p{
		font-size: 13px;
	
	}
}


@media screen and (max-width: 1120px){

	.bloco-1 form input[type=email]{
		width: 300px;
	
	}

	.bloco-2 img {
		width: 30%;
	}

}

@media screen and (max-width: 1020px){

	.sobre-2{
		width: 100%;
	}

	.sobre-1{
		width: 100%;
	}


}

@media screen and (max-width: 930px){

	.bloco-1 form input[type=email]{
		width: 200px;
	
	}

	.bloco-1 form input[type=submit]{
		width: 130px;
		font-size: 14px;
	}

}

@media screen and (max-width: 885px){

	.difereciais{
		display: inline;
		align-items: center;
	}

	.diferencial-single{
		width: 25%;
		align-items: center;
	}

	.diferencial-single{
		width: 40%;
	}

	.onda, .chamada h2, i {
		font-size: 25px;
	}

	section, .depoimentos{
		float: none;
	}

}

@media screen and (max-width: 720px){

	.onda, .chamada h2, i {
		font-size: 21px;
	}


}
